body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#serviceContainer {
  display: flex;
  flex-wrap: wrap;
}
#adress {
  width: 40vw;
}

#openingHours {
 width: 200px;
}