body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

header{
  background: #00a0d6;
  height: 60px;
  width: 100%;
}

input{
  display: block;
}

label {
  display:block;
  margin-bottom: 3px;
}

span{
  text-align: left;
  float: right;
}

strong{
  margin-right: 10px;
}

svg {
  float: left;
  width: 200px;
  padding: 5px;
  margin-top: 10px;
}

.formElement {
  margin-bottom: 10px;
  width: 30vw;
  max-width: 450px;
  min-width: 340px;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

#adress {

}

#api_header {
  margin: 0;
  padding-top: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace
}

#formHeader {
  width: 30vw;
  max-width: 450px;
  min-width: 340px;
}

#openingHours {
  margin-top: 15px;
}

#searchContainer{
  margin: auto;
  position: absolute;
  left: 0; right: 0;
  width: 340px;
  font-size: medium;
}

#searchResult{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  position: absolute;
  left: 0; right: 0;
  width: 450px;
  font-size: medium;
}

#serviceContainer {
  width: 98vw;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2px;
}

#submitButton{
  background-color: #00a0d6;
  border: none;
  width: 75px;
  padding: 12px;
  color: white;
  font-weight: 700;
}
#submitButton:hover{
  background-color: steelblue;
  cursor: pointer;
}



