body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#searchResult{
  margin: 0 auto;
  width: 30vw;
  font-size: medium;
}

#serviceContainer {
  display: flex;
  flex-wrap: wrap;
}
#adress {
  width: 20vw;
}

#openingHours {
  margin-top: 15px;

}

strong{
  margin-right: 10px;

}
span{
  text-align: left;
  float: right;
}
